//
// Variables
// --------------------------------------------------


//== Colors
//
//Colores Principales del Sitio

$color-one:         #2CC990; // Turquesa Flat
$color-two:         #D33257; // Rojo Flat
$color-three:       #FFF457; // Amarillo Flat
